---
# Configure cloud-init settings

- name: Set template tags
  command: >
    qm set {{ template_vmid }}
    --tags {{ template_tags }}
  become: true
  register: tags_result

- name: Set cloud-init user
  command: >
    qm set {{ template_vmid }}
    --ciuser {{ template_ci_user }}
    --cipassword {{ template_ci_passwd }}
  become: true
  register: ciuser_result

- name: Create temporary file for SSH keys
  ansible.builtin.tempfile:
    state: file
    suffix: .pub
  register: sshkey_tempfile

- name: Write SSH key to temporary file
  ansible.builtin.copy:
    content: "{{ template_ci_sshkeys }}\n"
    dest: "{{ sshkey_tempfile.path }}"
    mode: "0600"
  become: true

- name: Set SSH keys for cloud-init
  command:
    argv:
      - qm
      - set
      - "{{ template_vmid }}"
      - --sshkeys
      - "{{ sshkey_tempfile.path }}"
  become: true
  register: sshkeys_result

- name: Remove temporary SSH key file
  ansible.builtin.file:
    path: "{{ sshkey_tempfile.path }}"
    state: absent

- name: Set IP configuration
  command: >
    qm set {{ template_vmid }}
    --ipconfig0 {{ template_ci_ipconfig }}
  become: true
  register: ipconfig_result

- name: Display cloud-init configuration result
  debug:
    msg: "cloud-init configured for VM {{ template_vmid }}"
