---
# Build all Proxmox templates (Rocky 9.x, Rocky 10.x, Debian 12)
# Usage: ansible-playbook playbooks/build-all-templates.yml

- name: Build Proxmox templates for all distributions
  hosts: localhost
  gather_facts: true
  vars:
    distributions:
      - rocky9
      - rocky10
      - debian12

  tasks:
    - name: Build {{ item }} template
      include_role:
        name: proxmox_template
      vars:
        template_distribution: "{{ item }}"
      loop: "{{ distributions }}"
      loop_control:
        label: "Building {{ item }} template"
